h1 {
  text-align: center;
  color: #333;
  font-family: Helvetica, sans-serif;
}

h2 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #444;
}

h3 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  display: flexbox;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #8947df;
  border: none;
  border-radius: 10px;
}

.p {
  text-align: center;
  color: #666;
  font-family: Helvetica, sans-serif;
}

.input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: white;
  background-color: #8947df;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-p {
  white-space: pre-wrap;
  font-family: Helvetica, sans-serif;
  color: #444;
}

.post-card {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.comment-card {
  text-align: justify;
  max-width: 800px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
}