h1 {
  text-align: center;
  color: #333;
  font-family: Helvetica, sans-serif;
}

.p {
  text-align: center;
  color: #666;
  font-family: Helvetica, sans-serif;
}

.post-p {
  white-space: pre-wrap;
  font-family: Helvetica, sans-serif;
  color: #444;
}

.post-card {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.comment-card {
  text-align: justify;
  max-width: 800px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
}

.comment-p {
  font-family: Helvetica, sans-serif;
  color: #555;
}

.gray-center-text {
  text-align: center;
  color: gray;
}